body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  background-color: rgb(37, 37, 37);
  color: white;
}

#leaderboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.playerPlacement {
  text-align: left;
}

.playerUsername {
    text-align: center;
    padding-right: 5rem;
    width: 100%;
}

.playerELO {
  text-align: right;
}

#pagination {
  margin-top: 20px;
}

td, th {
  padding: 5px 20px;
  text-align: center;
}

body > img {
    display: block;
    margin: 0 auto;
}

button {
    background: #e7af93;
    border: 1px #6e4c3f;
    color: #3c1f17;
    padding: 0.5rem 1.2rem;
    border-radius: 0.25rem;
    font-weight: 600;
}

button:hover {
    background: #ba8a73;
}

button[disabled] {
    opacity: 0.2;
}

h1 {
    margin: 1.5rem;
}

#pagination {
    display: grid;
    gap: 1rem;
    grid-template-columns: min-content min-content 1fr min-content min-content;
    margin: 0 auto;
    justify-content: center;
    align-items:center;
}

#pageInput {
    width: 2rem !important;
}

#pageInfo {
  padding-right: 3rem;
}

#leaderboardtable {
 width: 100%;   
}

.discord-outer-countainer {
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  height: 100vh;           /* optional: to center vertically in viewport */
}

.discord {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.discord-text {
  margin-right: 10px;
}