body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  background-color: rgb(37, 37, 37);
  color: white;
}

#leaderboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerPlacement {
  text-align: right;
}

.playerUsername {
  text-align: left;
}

.playerELO {
  text-align: left;
}

#pagination {
  margin-top: 20px;
}

td, th {
  padding: 5px 20px;
  text-align: center;
}